<div class="jumbotron">
  <h1 class="display-4 text-centre"> welcome to seven academy </h1>
  <p class="lead">welocome to seven dev manager chose if you are a student or a techer </p>
  <hr class="my-4">
  <p>Iare you a student of a tecaher.</p>
  

  <div style="margin-top: 30px padding-top:60px" class="text-center pt=60">
    <a class="btn btn-primary btn-lg active" href="/student">student</a>
    <a class="btn btn-primary btn-lg active" href="/teacher">teacher</a>
</div>

