<nav class="navbar navbar-expand-lg navbar-light bg-light"><br>

    <a class="navbar-brand" href="#"> SEVEN ADVANCE ACAMEY  </a><br>
     <a href="#" class="text-right"> <h1>welcome to seven students page </h1> </a><br>
    
    <div class="text-center">
   
    </div>
</nav>

<div style="margin-top: 30px padding-top:60px" class="text-center pt=60">
    <a class="btn btn-primary btn-lg active" href="/login">Login</a>
    <a class="btn btn-primary btn-lg active" href="/register">Register new student</a>