<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"> SEVEN ADVANCE ACAMEY  </a>
    <p class="text-centre">you can now login or register if you are a new member </p>
    <div class="text-center">
    <a href="#" class="text-right"> <h1>welcome to seven teachers page </h1> </a>
    </div>
</nav>

<div style="margin-top: 30px padding-top:60px" class="text-center pt=60">
    <a class="btn btn-primary btn-lg active" href="/login">Login</a>
    <a class="btn btn-primary btn-lg active" href="/register">Register new teacher</a>